<div class="container">
  <div class="jumbotron">    
    <h1>
      <div class="row">
        <div class="col-md-9">
          <p class="rep-star">
            <span class="intro-1">Organize Repositories</span> <br />
            <span class="intro-2">
            You 
            <a class="btn btn-lg btn-default" 
               href="https://github.com/stars"
               target="blank">
              <span class="glyphicon glyphicon-star"></span>
              Star
            </a> 
            </span>
          </p>
          <p class="hide">
            <small>
              And sync your efforts
            </small>
            <small>
              to your gist...
            </small>
          </p>
        </div>
        <div class="col-md-3">
          <img src="/assets/images/rep-star.png" class="img-rounded img-responsive rep-star-logo"> 
        </div>
      </div>      
    </h1>
    <p class="main-actions"> 
      <a class="btn btn-success btn-lg" ng-click="authGithub()">
        <span class="glyphicon glyphicon-user"></span>
        Login with GitHub
      </a>
      <a class="btn btn-link btn-lg" href="https://github.com/utensil/rep-star">
        Learn more
      </a>
    </p>
  </div>
</div>