<div class="popups">
  <div id="rep-info">
    <span class="close-handle" ng-click="close()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </span>
    <div ng-show="current_rep">
      <div class="panel panel-default">
        <div class="row rep">
          <div class="col-md-2 ">
            <a ng-href="{{current_rep.owner.html_url}}">
              <img class="owner-avatar img-thumbnail" ng-src="{{current_rep.owner.avatar_url}}">
            </a>
          </div>
          <div class="col-md-10">
            <h3>
              <a ng-href="{{current_rep.html_url}}" class="fullname">{{current_rep.full_name}}</a>
              <span class="badge">
                <span class="glyphicon glyphicon-star"></span> 
                {{current_rep.watchers_count}}
              </span>
            </h3>
            <p>{{current_rep.description}}</p>
            <p>
              <span class="glyphicon glyphicon-tags"></span>
              &nbsp;
              <span class="badge" ng-show="current_rep.language">            
                {{current_rep.language}}
              </span>
            </p>
            <div class="rep-readme" ng-bind-html="readme"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>